/* Globals */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


h3 {
  color: #00c975;
}
span {
  color: rgb(132, 133, 131);
  text-decoration: underline;
}

input {
  border-radius: 1rem;
  border: 1px solid salmon;
  padding: .1rem;
  padding-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-size: 22px;
  padding-right: 2rem;
}

li {
  color : black;
}
@media (max-width: 992px) { 
  .nav-links{
    width: 70% !important;
  }
}
@media (max-width: 768px) {
  .container-card{
    width: 70%;
  }

  .container-listado {
    width: 70% !important;
  }

}

@media (max-width: 469px) {
  .nav-links{
    width: 60% !important;
  }
}

/* Layout */
.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bg-page{
  background-color: #c4c4c4;
  
}

.subtitle {
  text-align: center;
  margin-top: 2rem;
}

/* Cards */

.container {
  background-color: #222837;
  border-radius: 25px;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
  padding: .5rem;
}

.container-listado {
  background-color: #222837;
  border-radius: 25px;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 40%;
}
.container-location {
  width: 60%;
  text-align: center;
}

.container-card {
  width: 60%;
}

.favorite-icon{
  color: rgb(0, 55, 158);
}

.item-list{
  color: #00c975;
  padding-left: 1rem; 
}
.img-container{
  align-items: center;
  display: flex;
  justify-content: center;
}
.img-character{
  border-radius: 50%;
  margin: auto;
  width: 100%; 
}

.img-character:hover{
  cursor: pointer;
  transform: scale(.9);
}

.article-card{
  padding-left: .6rem;
}

.favorite{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: .3rem;
}
.icon {
  width: 1rem;
}

.form-search{
  margin-top: 1rem;
}

.input-search {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Buttons */
.btn-search{
  border : none;
  border-radius: 50%;
  margin-top: .5rem;
  transition: all .1s ease
}

.btn-search:hover{
  transform: rotate(0.05turn);
  background-color: rgb(115, 245, 245);
}
.btn-back{ 
  color: white;
  font-size: 20px;
}

.btn-back:hover {
  color:rgb(115, 245, 245)
}

.btn-delete-filter{
  border: none;
  background-color: transparent;
  color: red;
  margin-top: .5rem;
  font-size: 20px;
  transition: all 1.s ease-in;
}

.btn-delete-filter:hover{ 
  color: rgb(170, 0, 0);
  transform: scale(1.1);
}
.input-search-box{
  margin-top: .5rem;
}
/* Navegación */

.nav-active {
  color: white;
  transition: all .3s ease-out;
}

.logo-base{
  width: 100px;
  padding-top: .7rem;
  transition: all .3s ease-in-out;
}

.logo-base:hover{
  transform: scale(1.1);
}

.nav-links {
background-color: #222837;
width: 90%;
height: 100px;
display: flex;
align-items: center;
justify-content: flex-end;
border-radius: 20px 0 5px 0;
color: white;
}

/* Icons */
.icon-status{
  margin-right: .3rem;
  font-size: 10px;
}
.dead-icon {
  color: red;
}

.alive-icon {
  color : green;
}


.favorite-card{
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}